Django>=1.11.0,<2.0.0
jsonfield
PyYAML
six
oauthlib
lti
lti

# ims_lti_py pypi package is outdated and broken - using development version where the bug is fixed

# test requirements
mock
ddt
prospector
